body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
}

.page-footer {
    padding-top: 0px !important;
}

.project-img {
    width: 100% !important;
    height: auto !important;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-container > object {
    flex: 1;
}
    