html, body {
    margin: 0px;
    height: 100%;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    align-content: center;
}

.contact-box-l {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box-s {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1 1 auto;
}